{% extends 'todoapp/base.html '%}
{% block title %}
Oluştur
{% endblock %}
{% block icerik%}
<div class="bg bg-success p-4">
   <h1 class="display-4">
      <center>Todo Ekle</center>
   </h1>
   <p class="lead"></p>
   <hr class="my-4">
   <form>
      <div class="form-group">
         <label for="exampleInputEmail1">Başlık</label>
         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Todo başlığı giriniz">
      </div>
      <div class="form-group">
         <label>Detaylar</label>
            <textarea class="form-control" id="exampleInputPassword1" placeholder="Todo için detay giriniz"></textarea>
      </div>
      <div class="form-check">
         <label class="form-check-label" for="exampleCheck1">Bitti</label>
         <input type="checkbox" class="form-check-input"  id="exampleCheck1">
      </div>
      <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Kaydet</button>
   </form>
</div>
{% endblock%}