{% extends "todoapp/base.html" %}
{% load static %}
{% block title%} Listeler {% endblock %}
{% block styletag %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block icerik %}
<div class="content" >
   <div class="container">
      <br><br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Başlık</th>
               <th scope="col">Durum</th>
               <th scope="col">Açıklama</th>
               <th scope="col">Güncelle</th>
               <th scope="col">Sil</th>
            </tr>
         </thead>
         <tbody>
            {% for todo in todo_list %}
            <tr>
               <th scope="row">{{todo.id}}</th>
               <td>{{todo.title}}</td>
               {% if todo.isFinished == 0%}
                  <td><a class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Bitmedi</a></td>
               {% else %}
                  <td><a class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i> Bitti</a></td>
               {% endif %}
               <td><a class="btn btn-outline-warning"><i class="fa fa-list-alt" aria-hidden="true"></i> Detaylar</a></td>
               <td><a class="btn btn-outline-info"><i class="fa fa-refresh" aria-hidden="true"></i> Güncelle</a></td>
               <td><a class="btn btn-outline-danger" href="{% url 'delete' todo.id %}"><i class="fa fa-trash" aria-hidden="true"></i> Sil</a></td>
               <!--
                  <td><a class="btn btn-outline-warning">Detaylar</a></td>
                  <td><a class="btn btn-outline-info">Güncelle</a></td>
                  <td><a class="btn btn-outline-danger">Sil</a></td>-->
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}