{% extends "todoapp/base.html" %}
{% load static %}
{% block title%} Listeler {% endblock %}
{% block styletag %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block icerik %}
<div class="content" >
   <div class="container">
      <br><br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <th scope="col">Id</th>
               <th scope="col">Başlık</th>
               <th scope="col">Durum</th>
               <th scope="col">Açıklama</th>
               <th scope="col">Güncelle</th>
               <th scope="col">Sil</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               {% for todo in todo_list %}
                  <th scope="row">{{todo.id}}</th>
                  <td>{{todo.title}}</td>
                  <td><a class="btn btn-success">Bitti</a></td>
                  <td><a class="btn btn-outline-warning">Detaylar</a></td>
                  <td><a class="btn btn-outline-info">Güncelle</a></td>
                  <td><a class="btn btn-outline-danger">Sil</a></td>
               {% endfor %}
            </tr>
         </tbody>
      </table>
   </div>
</div>
{% endblock %}